input, textarea, select{
    appearance: none;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid var(--stroke-default);

    padding: 0.75rem 1rem;

    font: var(--text);
}

label{
    font: var(--text-sm);
    color: var(--text-secondary);

    display: block; /* relembrando que, o tipo inline, não aceita o margin-bottom, ou seja, somente do tipo block*/
    margin-bottom: 0.25rem;
}

input:focus,
select:focus,
textarea:focus{
    outline: 0.25rem solid var(--surface-secondary);
    border: 0.125rem solid var(--stroke-highlight);

    /* hack para aparecer o border no safari */
    outline-offset: 0.1px;
}

/*lê-se, todo input do tipo "date"*/
input[type="date"]{
    position: relative;

    /*hack para o safari*/
    &::-webkit-calendar-picker-indicator{
        opacity: 0;
    }

    /*icone calendário*/
    &::before{
        content: "";
        position: absolute;
        background: url(../../assets/icons/calendar-03.svg);
        background-position: center;
        background-size: contain;
        right: 1rem;
        width: 1.25rem;
        height: 1.25rem;

        top: 50%;
        transform: translateY(-50%);
    }
}


select{
    background-image: url(../../assets/icons/arrow-down-01.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;

}