@import url(./fields/index.css);

form{
    margin-top: 3rem;
}

fieldset{
    border: none;

    display: grid;
    gap: 1.3rem;
}

legend{
    font: 600 1rem/1.25 var(--font-family);
    margin-bottom: 1.5rem;
}


/*Quanod exisitr um fieldset e anterior a ele outro fieldset*/
fieldset + fieldset{
    margin-top: 3rem;
}