/* usando o tamanho da fonte em "rem".
calculo: se 32px -> 32/16 = 2rem */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --font-family: 'Poppins', sans-serif;
    
    --text: 400 1rem/1.5 var(--font-family);
    --text-sm: 400 0.875/1.4 var(--font-family);
    
    --text-primary: #292524;
    --text-secondary:#57534E;
    --text-tertiary:#8F8881;
    --text-highlight:#E43A12; /*Texto destaque*/

    --surface-primary:#292524; /*superfície primária*/
    --surface-secondary:#FEE7D6;

    --stroke-default:#D6D3D1; /*estilo de traço padrão*/
    --stroke-highlight: #F3541C; /*Realce de contorno*/
    --semantic-error: #DC2626;

}

body{
    overflow: hidden;
}