#app{
    display:grid;
    grid-template-columns: 51.25% 48.75%;

    height: 100vh;
    overflow: hidden;
    
}

main{
    overflow: auto; /*permite scrool "Rolagem no main"*/
    padding: 4rem;

    & .main-container{
        max-width: 33rem;
        margin-left: auto; /*preenche todo lado esquerdo e joga o container para a direita*/
        
    }
}

aside{
    background-color: var(--surface-secondary);
    padding: 4rem;
    
    & .aside-container{
        max-width: 31rem;
    }
}